@use "../themeprovider/themeprovider" as theme-provider;

.countries-title {
  margin: 3em 1em 0em 1em;

  h1 {
    color: theme-provider.$white-font-color;
    text-align: center;
    font-size: clamp(1.7rem, 3vw, 2.2rem);
  }

  p {
    color: theme-provider.$white-font-color;
    text-align: center;
    font-size: clamp(1rem, 1.7vw, 1.2rem);
    font-weight: 700;
    margin-top: 0.3em;
  }
}

.table-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@supports not (font-size: clamp(1.7rem, 3vw, 2.2rem)) {
  .countries-title {
    h1 {
      font-size: min(max(1.7rem, 3vw), 2.2rem);
    }

    p {
      font-size: min(max(1rem, 1.7vw), 1.2rem);
    }
  }
}
