@use "../themeprovider/themeprovider" as theme-provider;

// Search Results Text
.search-results-text {
  color: theme-provider.$white-font-color;
  margin-left: 1.15em;
  margin-top: 1.8em;
  font-size: 1.1rem;
  font-weight: 500;
  word-break: break-all;
}

@media (min-width: theme-provider.$media-query-small-value) {
  .search-results-text {
    margin-left: 2.7em;
  }
}

// Search Countries
.search-countries-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .search-countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-gap: 2em;
    margin-top: 2.75em;
    margin-bottom: 5em;
    width: 87%;

    .countries-card {
      background: transparent;
      border: 5px solid theme-provider.$dark-red-font-color;
      border-radius: 12px;
      padding: 1.1em;
      cursor: pointer;
      transition: background 0.2s ease;
      outline: none;
      -webkit-tap-highlight-color: transparent;

      h1 {
        color: theme-provider.$white-font-color;
        font-size: 1.3rem;
        line-height: 1.4em;
      }

      &:hover {
        background: theme-provider.$dark-red-font-color;
      }
    }
  }
}

@media (min-width: theme-provider.$media-query-small-value) {
  .search-countries-wrapper {
    .search-countries {
      margin-top: 3.5em;
    }
  }
}
