@use "../themeprovider/themeprovider" as theme-provider;

.loading-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .loading-container {
    background: theme-provider.$dark-blue-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3em 0em 4em 0em;
    padding: 3em;
    width: min(20em, 80%);
    border-radius: 10px;

    h1 {
      color: theme-provider.$white-font-color;
      text-align: center;
      margin-top: 1.2em;
      line-height: 1.2em;
    }
  }
}
