@use "../themeprovider/themeprovider" as theme-provider;

//Back Icon
.back-icon-button {
  background: none;
  border: none;
  outline: none;
  margin: 1.5em 0em 0em 1.5em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  .back-icon {
    font-size: 2rem;
    color: theme-provider.$pink-font-color;
    transition: color 0.5s ease;

    &:hover {
      color: theme-provider.$pink-font-color-hover;
    }
  }
}

// Country Title
.country-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.5em 1em 0em 1em;

  h1 {
    color: theme-provider.$white-font-color;
    font-size: clamp(2.2rem, 3vw, 2.6rem);
  }

  p {
    color: theme-provider.$white-font-color;
    margin-top: 0.5em;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    font-weight: 700;
  }
}

@supports not (font-size: clamp(2.2rem, 3vw, 2.6rem)) {
  .country-title {
    h1 {
      font-size: min(max(2.2rem, 3vw), 2.6rem);
    }

    p {
      font-size: min(max(1rem, 1.3vw), 1.2rem);
    }
  }
}

// Country Info
@mixin cardContent($background-color) {
  background: $background-color;
  padding: 1em;
  text-align: center;
  width: min(20em, 100%);
  border-radius: 10px;

  h1 {
    color: theme-provider.$white-font-color;
    font-size: clamp(1.7rem, 2.2vw, 2rem);
  }

  p {
    color: theme-provider.$white-font-color;
    font-size: clamp(1.3rem, 1.7vw, 1.5rem);
    font-weight: 700;
  }
}

@mixin cardContentSupport {
  h1 {
    font-size: min(max(1.7rem, 2.2vw), 2rem);
  }

  p {
    font-size: min(max(1.3rem, 1.7vw), 1.5rem);
  }
}

.country-card-container-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .country-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 2em;
    width: min(45em, 100%);
    margin: 3.5em 1.5em 5em 1.5em;

    .card-content-wrapper {
      display: flex;
      justify-content: center;

      .country-card-red {
        @include cardContent(theme-provider.$red-background-color);
      }

      .country-card-orange {
        @include cardContent(theme-provider.$orange-background-color);
      }

      .country-card-green {
        @include cardContent(theme-provider.$green-background-color);
      }

      .country-card-dark-blue {
        @include cardContent(theme-provider.$dark-blue-background-color);
      }
    }
  }
}

@media (min-width: theme-provider.$media-query-small-value) {
  .country-card-container-wrapper {
    .country-card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@supports not (font-size: min(max(1.7rem, 2.2vw), 2rem)) {
  .country-card-container-wrapper {
    .country-card-container {
      .card-content-wrapper {
        .country-card-red {
          @include cardContentSupport;
        }

        .country-card-orange {
          @include cardContentSupport;
        }

        .country-card-green {
          @include cardContentSupport;
        }

        .country-card-dark-blue {
          @include cardContentSupport;
        }
      }
    }
  }
}
