$white-background-color: #ffffff;

$black-background-color: #232528;

$red-background-color: #ba292e;

$orange-background-color: #e15d3a;

$green-background-color: #00897b;

$navbar-background-color: #4b3d60;

$table-background-color: #37474f;
