$white-font-color: #ffffff;

$red-font-color: #ff2222;

$dark-red-font-color: hsl(0, 100%, 33%);

$pink-font-color: hsl(324, 99%, 50%);

$pink-font-color-hover: hsl(324, 99%, 43%);

$black-font-color: #000000;

$gradient-color-one: #ba292e;

$gradient-color-two: rgb(249, 180, 31);
